<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>action</key>
  <false/>
  <key>background</key>
  <true/>
  <key>category</key>
  <string>APPLESCRIPTS</string>
  <key>command</key>
  <string>
    tell application "Mailplane 3"
      set emailLink to currentURL
      set emailSubject to currentTitle
      tell application "Things"
        set newToDo to make new to do with properties {name:emailSubject, notes:emailLink}
      end tell
      activate
      tell application "System Events"
        keystroke "e"
        keystroke "i"
      end tell
    end tell
  </string>
  <key>disabled</key>
  <false/>
  <key>keyword</key>
  <string>Add email to Things</string>
  <key>parameter</key>
  <integer>0</integer>
  <key>subtitle</key>
  <string>Adds email to things and archives it</string>
  <key>title</key>
  <string>Add email to things</string>
</dict>
</plist>
